<!DOCTYPE html>
<html>

<head>
    <title>fanserials</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="styles.css">
    <!--<link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap" rel="stylesheet">-->
</head>

<body>
    <div class="header_line"></div>
    <div class="body_container">
        <header class="header">
            <div class="header_content">
                <img class="header_icon" src="img/icon.jpg">
                <div class="fanserials_txt">
                    <div class="f_txt">f</div>
                    <div class="anserials_txt">anserials</div>
                </div>
                <menu class="menu">
                    <li class="new_series"><a href="index.html" class="no_decor">Новые серии</a></li>
                    <li class="popular"><a href="popular.html" class="no_decor">Популярное</a></li>
                    <li class="news"><a href="index.html" class="no_decor">Новинки</a></li>
                    <li class="all"><a href="index.html" class="no_decor">Все сериалы</a></li>
                    <li class="search"><a href="search.html" class="no_decor">Поиск</a></li>
                    <li class="enter"><a href="enter.html" class="no_decor">Вход</a></li>
                </menu>
            </div>
        </header>
        <div class="pic_block">
            <img class="pic_class" src="img/pic.jpg">
        </div>
        <div class="new_series_block; enter_box">
            <div class="new_series_txt" id="enter_txt">Авторизируйтесь</div>
            <form>
                <div class="search_line">
                    <input type="text" class="input_line" placeholder="Введите ваш логин или адрес электронной почты">
                </div>
                <div class="search_line">
                    <input type="password" class="input_line" placeholder="Введите ваш пароль">
                </div>
            </form>
            <div class="enter_buttons">
                <div class="search_button" id="reg_button">
                    Регистрация
                </div>
                <div class="search_button" id="enter_button">
                    Вход
                </div>
            </div>
        </div>
        <footer class="footer_block" id="search_footer">
            <div class="footer_txt">fanserials.net</div>
            <div class="rights_txt">Все права защищены</div>
        </footer>
    </div>
</body>

</html>