<!DOCTYPE html>
<html>

<head>
    <title>fanserials</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="styles.css">
    <!--<link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap" rel="stylesheet">-->
</head>

<body>
    <div class="header_line"></div>
    <div class="body_container">
        <header class="header">
            <div class="header_content">
                <img class="header_icon" src="img/icon.jpg">
                <div class="fanserials_txt">
                    <div class="f_txt">f</div>
                    <div class="anserials_txt">anserials</div>
                </div>
                <menu class="menu">
                    <li class="new_series"><a href="index.html" class="no_decor">Новые серии</a></li>
                    <li class="popular"><a href="popular.html" class="no_decor">Популярное</a></li>
                    <li class="news"><a href="index.html" class="no_decor">Новинки</a></li>
                    <li class="all"><a href="index.html" class="no_decor">Все сериалы</a></li>
                    <li class="search"><a href="search.html" class="no_decor">Поиск</a></li>
                    <li class="enter"><a href="enter.html" class="no_decor">Вход</a></li>
                </menu>
            </div>
        </header>
        <div class="pic_block">
            <img class="pic_class" src="img/pic.jpg">
        </div>
        <div class="new_series_block">
            <div class="new_series_txt">Новые серии</div>
            <ul class="categories_line">
                <li class="categories_field"> <a href="#" class="categories_text" id="first_category">Все категории</a></li>
                <li class="categories_field"> <a href="#" class="categories_text" id="second_category">Сериалы</a></li>
                <li class="categories_field"> <a href="#" class="categories_text" id="third_category">Мультсериалы</a></li>
                <li class="categories_field"> <a href="#" class="categories_text" id="fourth_category">ониме</a></li>
            </ul>
            <div class="date_line">
                <div class="date">20 мая 2021</div>
            </div>
            <div class="serials_block">
                <div class="serial_line">
                    <div class="serial_item">
                        <div class="icon_box">
                            <a href="player.html"><img class="icon_img" src="img/new/the_outsider_1_4.jpg"></a>
                            <div class="studio_block"></div>
                            <div class="studio_block_txt">Дубляж</div>
                        </div>
                        <div class="text_box">
                            <li class="text_box_name">Чужак</li>
                            <li class="text_box_num">1 сезон 3 серия</li>
                        </div>
                    </div>
                    <div class="serial_item">
                        <div class="icon_box">
                            <a href="player.html"><img class="icon_img" src="img/new/perry_mason_1_7.jpg"></a>
                            <div class="studio_block"></div>
                            <div class="studio_block_txt">LostFilm</div>
                        </div>
                        <div class="text_box">
                            <li class="text_box_name">Перри Мейсон</li>
                            <li class="text_box_num">1 сезон 7 серия</li>
                        </div>
                    </div>
                    <div class="serial_item">
                        <div class="icon_box">
                            <a href="player.html"><img class="icon_img" src="img/new/the_undoing_1_6.jpg"></a>
                            <div class="studio_block"></div>
                            <div class="studio_block_txt">AlexFilm</div>
                        </div>
                        <div class="text_box">
                            <li class="text_box_name">Отыграть назад</li>
                            <li class="text_box_num">1 сезон 6 серия</li>
                        </div>
                    </div>
                    <div class="serial_item">
                        <div class="icon_box">
                            <a href="player.html"><img class="icon_img" src="img/new/queens_gambit_1_7.jpg"></a>
                            <div class="studio_block"></div>
                            <div class="studio_block_txt">Дубляж</div>
                        </div>
                        <div class="text_box">
                            <li class="text_box_name">Ход королевы</li>
                            <li class="text_box_num">1 сезон 7 серия</li>
                        </div>
                    </div>
                </div>
                <div class="serial_line">
                    <div class="serial_item">
                        <div class="icon_box">
                            <a href="player.html"><img class="icon_img" src="img/new/devils_2_3.jpg"></a>
                            <div class="studio_block"></div>
                            <div class="studio_block_txt">Кравец</div>
                        </div>
                        <div class="text_box">
                            <li class="text_box_name">Дьяволы</li>
                            <li class="text_box_num">2 сезон 3 серия</li>
                        </div>
                    </div>
                    <div class="serial_item">
                        <div class="icon_box">
                            <a href="player.html"><img class="icon_img" src="img/new/love_death_robots_2_3.jpg"></a>
                            <div class="studio_block"></div>
                            <div class="studio_block_txt">Дубляж</div>
                        </div>
                        <div class="text_box">
                            <li class="text_box_name">Любовь, смерть и роботы</li>
                            <li class="text_box_num">2 сезон 3 серия</li>
                        </div>
                    </div>
                    <div class="serial_item">
                        <div class="icon_box">
                            <a href="player.html"><img class="icon_img" src="img/new/gangs_of_london_1_4.jpg"></a>
                            <div class="studio_block"></div>
                            <div class="studio_block_txt">Кравец</div>
                        </div>
                        <div class="text_box">
                            <li class="text_box_name">Банды Лондона</li>
                            <li class="text_box_num">1 сезон 4 серия</li>
                        </div>
                    </div>
                    <div class="serial_item">
                        <div class="icon_box">
                            <a href="player.html"><img class="icon_img" src="img/new/the_nevers_1_5.jpg"></a>
                            <div class="studio_block"></div>
                            <div class="studio_block_txt">TvShows</div>
                        </div>
                        <div class="text_box">
                            <li class="text_box_name">Невероятные</li>
                            <li class="text_box_num">1 сезон 5 серия</li>
                        </div>
                    </div>
                </div>
                <div class="serial_line">
                    <div class="serial_item">
                        <div class="icon_box">
                            <a href="player.html"><img class="icon_img" src="img/new/the_boys_1_6.jpg"></a>
                            <div class="studio_block"></div>
                            <div class="studio_block_txt">Кубик в кубе</div>
                        </div>
                        <div class="text_box">
                            <li class="text_box_name">Пацаны</li>
                            <li class="text_box_num">1 сезон 6 серия</li>
                        </div>
                    </div>
                    <div class="serial_item">
                        <div class="icon_box">
                            <a href="player.html"><img class="icon_img" src="img/new/rick_and_morty_4_2.jpg"></a>
                            <div class="studio_block"></div>
                            <div class="studio_block_txt">Сыендук</div>
                        </div>
                        <div class="text_box">
                            <li class="text_box_name">Рик и Морти</li>
                            <li class="text_box_num">4 сезон 2 серия</li>
                        </div>
                    </div>
                </div>
                <div class="date_line; not_first_date">
                    <div class="date">19 мая 2021</div>
                </div>
                <div class="serial_line">
                    <div class="serial_item">
                        <div class="icon_box">
                            <a href="player.html"><img class="icon_img" src="img/new/the_boys_1_5.jpg"></a>
                            <div class="studio_block"></div>
                            <div class="studio_block_txt">Кубик в кубе</div>
                        </div>
                        <div class="text_box">
                            <li class="text_box_name">Пацаны</li>
                            <li class="text_box_num">1 сезон 5 серия</li>
                        </div>
                    </div>
                    <div class="serial_item">
                        <div class="icon_box">
                            <a href="player.html"><img class="icon_img" src="img/new/shameless_9_6.jpg"></a>
                            <div class="studio_block"></div>
                            <div class="studio_block_txt">TvShows</div>
                        </div>
                        <div class="text_box">
                            <li class="text_box_name">Бесстыжие</li>
                            <li class="text_box_num">9 сезон 6 серия</li>
                        </div>
                    </div>
                    <div class="serial_item">
                        <div class="icon_box">
                            <a href="player.html"><img class="icon_img" src="img/new/shadow_and_bone_1_5.jpg"></a>
                            <div class="studio_block"></div>
                            <div class="studio_block_txt">Дубляж</div>
                        </div>
                        <div class="text_box">
                            <li class="text_box_name">Тень и кость</li>
                            <li class="text_box_num">1 сезон 5 серия</li>
                        </div>
                    </div>
                    <div class="serial_item">
                        <div class="icon_box">
                            <a href="player.html"><img class="icon_img" src="img/new/city_on_the_hill_2_5.jpg"></a>
                            <div class="studio_block"></div>
                            <div class="studio_block_txt">LostFilm</div>
                        </div>
                        <div class="text_box">
                            <li class="text_box_name">Город на холме</li>
                            <li class="text_box_num">2 сезон 5 серия</li>
                        </div>
                    </div>
                </div>
                <div class="serial_line">
                    <div class="serial_item">
                        <div class="icon_box">
                            <a href="player.html"><img class="icon_img" src="img/new/game_of_thrones_8_1.jpg"></a>
                            <div class="studio_block"></div>
                            <div class="studio_block_txt">Дубляж</div>
                        </div>
                        <div class="text_box">
                            <li class="text_box_name">Игра престолов</li>
                            <li class="text_box_num">8 сезон 1 серия</li>
                        </div>
                    </div>
                </div>
            </div>
            <div class="more_serials">
                <div class="more_txt_block"><a href="#" class="more_txt">Показать ещё серии</a></div>
            </div>
            <div class="next_pages">
                <ul class="pages_line">
                    <li class="pages_field"> <a href="#" class="pages_text" id="first_page">1</a></li>
                    <li class="pages_field"> <a href="#" class="pages_text">2</a></li>
                    <li class="pages_field"> <a href="#" class="pages_text">3</a></li>
                    <li class="pages_field"> <a href="#" class="pages_text">4</a></li>
                    <li class="pages_field"> <a href="#" class="pages_text">...</a></li>
                </ul>
            </div>
        </div>
        <footer class="footer_block">
            <div class="footer_txt">fanserials.net</div>
            <div class="rights_txt">Все права защищены</div>
        </footer>
    </div>
    <script src="script.js"></script>
</body>

</html>