<!DOCTYPE html>
<html>

<head>
    <title>fanserials</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="styles.css">
    <!--<link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap" rel="stylesheet">-->
</head>

<body>
    <div class="header_line"></div>
    <div class="body_container">
        <header class="header">
            <div class="header_content">
                <img class="header_icon" src="img/icon.jpg">
                <div class="fanserials_txt">
                    <div class="f_txt">f</div>
                    <div class="anserials_txt">anserials</div>
                </div>
                <menu class="menu">
                    <li class="new_series"><a href="index.html" class="no_decor">Новые серии</a></li>
                    <li class="popular"><a href="popular.html" class="no_decor">Популярное</a></li>
                    <li class="news"><a href="index.html" class="no_decor">Новинки</a></li>
                    <li class="all"><a href="index.html" class="no_decor">Все сериалы</a></li>
                    <li class="search"><a href="search.html" class="no_decor">Поиск</a></li>
                    <li class="enter"><a href="enter.html" class="no_decor">Вход</a></li>
                </menu>
            </div>
        </header>
        <div class="pic_block">
            <img class="pic_class" src="img/pic.jpg">
        </div>
        <div class="new_series_block; search_box">
            <div class="new_series_txt" id="player_txt">Игра престолов 8 сезон 1 серия "Винтерфелл"</div>
            <ul class="variants_line">
                <li class="variants_field"> <a href="#" class="variants_text" id="first_variant">Дубляж</a></li>
                <li class="variants_field"> <a href="#" class="variants_text" id="second_variant">LostFilm</a></li>
                <li class="variants_field"> <a href="#" class="variants_text" id="third_variant">KerobTv</a></li>
            </ul>
            <video src="video/videoplayback.mp4" class="video_block" controls="controls" type="video/mp4" poster="img/new/game_of_thrones_8_1.jpg"></video>
            <div class="description_block">
                <div class="description_name">Описание</div>
                <div class="description_txt">В 1 серии 8 сезона сериала "Игра престолов" Джон Сноу и Дейнерис с войсками прибывают в родовое гнездо Старков. Происходит не слишком тёплая встреча и знакомство Леди Винтерфелла и матери драконов. Дейнерис пытается убедить народ севера,
                    что она будет на их стороне и нужно объединиться, чтобы предстать перед лицом общего врага — армией мёртвых. Собирается военный совет. Серсея получает вести о ситуации на севере. Эурон Греджой отправляется на важную миссию. Джейме
                    добирается до Винтерфелла. Тем временем Джон узнает о своём происхождении...</div>
            </div>
            <div class="comment_box">
                <div class="comment_name">Комментарии</div>
            </div>
        </div>
        <footer class="footer_block" id="search_footer">
            <div class="footer_txt">fanserials.net</div>
            <div class="rights_txt">Все права защищены</div>
        </footer>
        <script src="script_variants.js"></script>
    </div>
</body>

</html>