<!DOCTYPE html>
<html>

<head>
    <title>fanserials</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="styles.css">
    <!--<link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap" rel="stylesheet">-->
</head>

<body>
    <div class="header_line"></div>
    <div class="body_container">
        <header class="header">
            <div class="header_content">
                <img class="header_icon" src="img/icon.jpg">
                <div class="fanserials_txt">
                    <div class="f_txt">f</div>
                    <div class="anserials_txt">anserials</div>
                </div>
                <menu class="menu">
                    <li class="new_series"><a href="index.html" class="no_decor">Новые серии</a></li>
                    <li class="popular"><a href="popular.html" class="no_decor">Популярное</a></li>
                    <li class="news"><a href="index.html" class="no_decor">Новинки</a></li>
                    <li class="all"><a href="index.html" class="no_decor">Все сериалы</a></li>
                    <li class="search"><a href="search.html" class="no_decor">Поиск</a></li>
                    <li class="enter"><a href="enter.html" class="no_decor">Вход</a></li>
                </menu>
            </div>
        </header>
        <div class="pic_block">
            <img class="pic_class" src="img/pic.jpg">
        </div>
        <div class="new_series_block">
            <div class="popular_block">
                <div class="new_series_txt" id="popular_txt">Популярное</div>
                <div class="line_between_popular"></div>
                <div class="popular_block_list">
                    <div class="popular_position">
                        <div class="popular_icon_box">
                            <a href="player.html"><img class="popular_icon_img" src="img/new/game_of_thrones_icon.jpg"></a>
                        </div>
                        <div class="popular_text_box">
                            <li class="popular_text_box_name">Игра престолов</li>
                            <li class="popular_text_box_num">фэнтези</li>
                        </div>
                    </div>
                    <div class="popular_position">
                        <div class="popular_icon_box">
                            <a href="player.html"><img class="popular_icon_img" src="img/new/his_dark_materials_icon.jpg"></a>
                        </div>
                        <div class="popular_text_box">
                            <li class="popular_text_box_name">Темные начала</li>
                            <li class="popular_text_box_num">фэнтези</li>
                        </div>
                    </div>
                    <div class="popular_position">
                        <div class="popular_icon_box">
                            <a href="player.html"><img class="popular_icon_img" src="img/new/handmades_tale_icon.jpg"></a>
                        </div>
                        <div class="popular_text_box">
                            <li class="popular_text_box_name">Рассказ служанки</li>
                            <li class="popular_text_box_num">фантастика</li>
                        </div>
                    </div>
                    <div class="popular_position">
                        <div class="popular_icon_box">
                            <a href="player.html"><img class="popular_icon_img" src="img/new/queens_gambit_icon.jpg"></a>
                        </div>
                        <div class="popular_text_box">
                            <li class="popular_text_box_name">Ход королевы</li>
                            <li class="popular_text_box_num">драма</li>
                        </div>
                    </div>
                    <div class="popular_position">
                        <div class="popular_icon_box">
                            <a href="player.html"><img class="popular_icon_img" src="img/new/boys_icon.jpg"></a>
                        </div>
                        <div class="popular_text_box">
                            <li class="popular_text_box_name">Пацаны</li>
                            <li class="popular_text_box_num">комедия</li>
                        </div>
                    </div>
                </div>
                <div class="line_between_popular"></div>
            </div>
        </div>
        <footer class="footer_block">
            <div class="footer_txt">fanserials.net</div>
            <div class="rights_txt">Все права защищены</div>
        </footer>
    </div>
</body>

</html>