.admin_btn{
    margin-left: 200px;
}

.admin_order_row{
    border-right: 1px solid #b1b3b3;
}

.admin_order_status:hover{
    filter: invert(82%) sepia(54%) saturate(3168%) hue-rotate(71deg) brightness(79%) contrast(84%);
}