@use './components/nav_style';
@use './routines/series_style';
@use './serial_style';

$theme-colors:(
    "outline-dark": #040402,
);

$gray-800: #26272c;

$font-size-base: 1.4rem;

$input-btn-focus-color: #df7d00;

@import '../../node_modules/bootstrap/scss/bootstrap.scss';

@font-face {
    font-family: Roboto Slab;
    src: url(../fonts/RobotoSlab-Regular.ttf);
}

body {
    margin: 0px;
    width: 1820px;
    background-color: #080808;
}

.header_line {
    position: absolute;
    display: block;
    height: 115px;
    width: 1920px;
    background-color: #040402;
}

.body_container {
    position: relative;
    margin: 0 auto;
    width: 2000px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #080808;
}





.page-item.active .page-link {
    z-index: 3;
    color: #fff !important;
    border-color: #df7d00 !important;
    background-color: #df7d00 !important;
}

.page-item .page-link {
    color: #df7d00 !important;
}






.chevron_svg{
    width: 15px;
    height: 15px;
    margin-left: 5px;
    -webkit-filter: grayscale(1) invert(1);
    filter: grayscale(1) invert(1);
}

.footer_block {
    display: block;
    position: relative;
    width: 1450px;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
    background-color: #272929;
}

.footer_txt {
    display: block;
    position: absolute;
    font-family: 'Roboto Slab', serif;
    font-size: 25px;
    color: aliceblue;
    margin-top: 37px;
    margin-left: 60px;
    width: 300px;
    opacity: .5;
}

.rights_txt {
    display: block;
    margin-top: 37px;
    position: absolute;
    color: aliceblue;
    top: -1px;
    opacity: .5;
    right: 50px;
    font-family: 'Roboto Slab', serif;
    font-size: 25px;
}

.no_decor {
    text-decoration: none;
    color: #ffffff;
}

.no_decor:hover {
    text-decoration: none;
    color: #df7d00;
}

.search_box {
    display: block;
    height: 2000px;
    background-color: #272929;
    position: relative;
    width: 1400px;
}

#search_txt {
    color: #ffffff;
    opacity: .7;
}

.search_line {
    display: block;
    margin-left: 100px;
    margin-top: 20px;
    border: 1px solid #ffffff;
    width: 1200px;
    height: 35px;
    opacity: .7;
}

.input_line {
    display: inline-flex;
    position: relative;
    font-size: 16px;
    font-family: 'Roboto Slab', serif;
    color: #ffffff;
    line-height: 1.2;
    text-align: left;
    z-index: 34;
    background: #272929 !important;
    outline: none;
    width: 1190px;
    height: 32px;
    border-width: 0px;
    padding-left: 8px;
    padding-right: 0px;
    opacity: .7;
}

.search_button {
    display: block;
    position: relative;
    width: 150px;
    font-family: 'Roboto Slab', serif;
    margin-left: 100px;
    margin-top: 20px;
    padding-top: 5px;
    padding-left: 30px;
    padding-bottom: 5px;
    color: #ffffff;
    background-color: #272929;
    border: 1px solid #df7d00;
    margin-bottom: 90px;
}

.search_button:hover {
    background-color: #df7d00;
}

.line_between {
    display: block;
    position: relative;
    width: 1200px;
    height: 1px;
    border-bottom: 1px solid #ffffff;
    margin-left: 100px;
    margin-top: 20px;
    opacity: .7;
}

.search_serial_block {
    display: inline-block;
    width: 1200px;
    position: relative;
    margin-left: 100px;
    margin-top: 20px;
    height: 207px;
}

.search_serial_icon {
    display: block;
    height: 207px;
    position: relative;
    width: 146px;
    float: left;
}

.search_serial_text {
    display: block;
    margin-left: 30px;
    height: 207px;
    width: 800px;
    text-align: left;
    float: left;
}

.search_serial_name {
    display: block;
    width: 800px;
    height: 50px;
    margin-bottom: 20px;
    text-align: left;
    font-family: 'Roboto Slab', serif;
    color: #ffffff;
    opacity: 0.7;
    font-size: 20px;
    position: relative;
}

.search_serial_txt {
    display: block;
    width: 800px;
    position: relative;
    height: 137px;
    text-align: left;
    font-family: 'Roboto Slab', serif;
    color: #ffffff;
    opacity: 0.7;
}

#search_footer {
    background-color: #171717;
}

.enter_buttons {
    display: inline-block;
    width: 600px;
    margin-left: 425px;
    height: 200px;
}

#reg_button {
    display: inline-block;
    margin-bottom: 0px;
    margin-right: 30px;
    position: relative;
    text-align: center;
    padding-left: 0px;
}

#enter_button {
    display: inline-block;
    margin-bottom: 0px;
    position: relative;
    margin-left: 0px;
    text-align: center;
    padding-left: 0px;
}

.enter_box {
    display: block;
    height: 400px;
    background-color: #272929;
    position: relative;
    width: 1400px;
    margin-bottom: 600px
}

#enter_txt {
    color: #ffffff;
    opacity: .7;
    margin-left: 500px;
    margin-bottom: 30px;
}

#player_txt {
    color: #ffffff;
    opacity: .7;
    width: 1000px;
}

.variants_line {
    padding-left: 0px;
    height: 77px;
    width: 1100px;
    font-family: 'Roboto Slab', serif;
    display: inline-block;
    margin-left: 100px;
    border-bottom: 1px solid #ffffff;
    opacity: 0.7;
}

.variants_field {
    height: 90px;
    margin-right: 50px;
    display: inline;
}

.variants_text {
    font-size: 16px;
    color: #ffffff;
    opacity: .99999;
    text-decoration: none;
    padding-top: 35px;
    height: 40px;
    display: inline-block;
    position: relative;
    transition: all 0.2s linear;
}

#first_variant {
    border-bottom: 4px solid #df7d00;
    opacity: .99999;
    color: #df7d00;
}

.video_block {
    display: block;
    width: 1100px;
    margin-left: 100px;
    margin-top: 20px;
}

.description_block {
    display: block;
    position: relative;
    width: 100%;
    height: 300px;
    margin-top: 60px;
    background-color: #4a4a4a;
}

.description_name {
    font-family: 'Roboto Slab', serif;
    display: block;
    color: #ffffff;
    opacity: .7;
    font-size: 25px;
    margin-left: 40px;
    padding-top: 40px;
    position: relative;
}

.description_txt {
    font-family: 'Roboto Slab', serif;
    display: block;
    color: #ffffff;
    opacity: .7;
    font-size: 17px;
    margin-left: 40px;
    padding-top: 20px;
    width: 1320px;
    position: relative;
}

.comment_box {
    display: block;
    background-color: #ffffff;
    width: 100%;
    height: 800px;
    position: relative;
}

.comment_name {
    display: block;
    color: #040402;
    font-family: 'Roboto Slab', serif;
    padding-top: 40px;
    margin-left: 40px;
    position: relative;
    font-size: 25px;
}

.popular_block {
    display: block;
    position: relative;
    width: 100%;
    height: 1000px;
}

.line_between_popular {
    display: block;
    position: relative;
    width: 1120px;
    height: 1px;
    border-bottom: 1px solid #4a4a4a;
    margin-left: 140px;
    margin-top: 40px;
    opacity: .7;
}

#popular_txt {
    margin-left: 140px;
}

.popular_block_list {
    display: inline-flex;
    position: relative;
    margin-left: 140px;
    margin-top: 30px;
    width: 1120px;
    height: 360px;
}

.popular_position {
    display: inline-flex;
    position: relative;
    width: 200px;
    height: 100%;
    margin-right: 30px;
}

.popular_icon_box {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 287px;
    background-color: #080808;
    z-index: 10;
    opacity: .999999;
}

.popular_icon_box:hover {
    opacity: .7;
}

.popular_icon_img {
    display: block;
    width: 200px;
    height: 287px;
    z-index: 9;
}

.popular_text_box {
    display: block;
    text-align: center;
    font-family: 'Roboto Slab', serif;
    width: 200px;
    height: 73px;
    position: absolute;
    margin-top: 300px;
}

.popular_text_box_name {
    display: block;
    text-align: center;
    font-family: 'Roboto Slab', serif;
    font-size: 18px;
    padding-bottom: 5px;
    position: relative;
}

.popular_text_box_num {
    display: block;
    text-align: center;
    font-family: 'Roboto Slab', serif;
    font-size: 11px;
    position: relative;
}