@use './components/nav_style';
@use './routines/series_style';
@use './serial_style';
@use './seria_style';
@use './routines/search_style';
@use './routines/popular_style';
@use './routines/newest_style';
@use './routines/orders_style';
@use './users/account_style';
@use './users/admin_style';

$theme-colors:(
    "outline-dark": #040402,
);

$gray-800: #26272c;

$font-size-base: 1.4rem;

$input-btn-focus-color: #df7d00;

@import '../../node_modules/bootstrap/scss/bootstrap.scss';

@font-face {
    font-family: Roboto Slab;
    src: url(../fonts/RobotoSlab-Regular.ttf);
}

body {
    margin: 0px;
    width: 1820px;
    background-color: #080808;
}

.header_line {
    position: absolute;
    display: block;
    height: 115px;
    width: 1920px;
    background-color: #040402;
}

.body_container {
    position: relative;
    margin: 0 auto;
    width: 2000px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #080808;
}





.page-item.active .page-link {
    z-index: 3;
    color: #fff !important;
    border-color: #df7d00 !important;
    background-color: #df7d00 !important;
}

.page-item .page-link {
    color: #df7d00 !important;
}






.chevron_svg{
    width: 15px;
    height: 15px;
    margin-left: 5px;
    -webkit-filter: grayscale(1) invert(1);
    filter: grayscale(1) invert(1);
}

.footer_block {
    display: block;
    position: relative;
    width: 1450px;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
    background-color: #272929;
}

.footer_txt {
    display: block;
    position: absolute;
    font-family: 'Roboto Slab', serif;
    font-size: 25px;
    color: aliceblue;
    margin-top: 37px;
    margin-left: 60px;
    width: 300px;
    opacity: .5;
}

.rights_txt {
    display: block;
    margin-top: 37px;
    position: absolute;
    color: aliceblue;
    top: -1px;
    opacity: .5;
    right: 50px;
    font-family: 'Roboto Slab', serif;
    font-size: 25px;
}

.no_decor {
    text-decoration: none;
    color: #ffffff;
}

.no_decor:hover {
    text-decoration: none;
    color: #df7d00;
}

.enter_buttons {
    display: inline-block;
    width: 600px;
    margin-left: 425px;
    height: 200px;
}

#reg_button {
    display: inline-block;
    margin-bottom: 0px;
    margin-right: 30px;
    position: relative;
    text-align: center;
    padding-left: 0px;
}

#enter_button {
    display: inline-block;
    margin-bottom: 0px;
    position: relative;
    margin-left: 0px;
    text-align: center;
    padding-left: 0px;
}

.enter_box {
    display: block;
    height: 400px;
    background-color: #272929;
    position: relative;
    width: 1400px;
    margin-bottom: 600px
}

#enter_txt {
    color: #ffffff;
    opacity: .7;
    margin-left: 500px;
    margin-bottom: 30px;
}